body {
  background-color: black;
}
div.button-container {
  margin-top: 5%;
  background: url('./img/Mitte\ mit\ Schrift.png') center no-repeat black;
}

img {
  width: 300px;
}
.buttons {
  position: relative;
  height: 100vh;
}
.link1 {
  position: absolute;
  right: 15%;
  top: 5%;
}
.link2 {
  position: absolute;
  right: 5%;
  top: 20%;
}
.link3 {
  position: absolute;
  bottom: 43%;
  right: 5%;
}
.link4 {
  position: absolute;
  right: 5%;
  bottom: 25%;
}
.link5 {
  position: absolute;
  right: 15%;
  bottom: 8%;
}
.link6 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
}
.link7 {
  position: absolute;
  left: 15%;
  bottom: 8%;
}
.link8 {
  position: absolute;
  left: 5%;
  bottom: 25%;
}
.link9 {
  position: absolute;
  bottom: 43%;
  left: 5%;
}
.link10 {
  position: absolute;
  left: 5%;
  top: 20%;
}
.link11 {
  //transform: translate(15em, -18em);
  position: absolute;
  left: 15%;
  top: 5%;
}
.link12 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

footer {
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 60px; /* Height of the footer */
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}
