* {
  margin: 0;
  padding: 0;
}

#main {
  background-color: black;
  background-image: url('./img/Mitte\ mit\ Schrift.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100vw;
  height: 100vmin;
  position: relative;
  overflow: hidden;
}
.circle {
  position: absolute;
}
img {
  width: 30vmin;
}

.circle:nth-child(12) {
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}
.circle:nth-child(1) {
  top: 10%;
  right: 25%;
}
.circle:nth-child(2) {
  top: 25%;
  right: 15%;
}
.circle:nth-child(3) {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.circle:nth-child(4) {
  bottom: 25%;
  right: 15%;
}
.circle:nth-child(5) {
  bottom: 10%;
  right: 25%;
}
.circle:nth-child(6) {
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}
.circle:nth-child(7) {
  bottom: 10%;
  left: 25%;
}
.circle:nth-child(8) {
  bottom: 25%;
  left: 15%;
}
.circle:nth-child(9) {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.circle:nth-child(10) {
  top: 25%;
  left: 15%;
}
.circle:nth-child(11) {
  top: 10%;
  left: 25%;
}

@media (orientation: portrait) {
  main {
    background-color: white !important;
  }
}
